* {
  margin: 0;
  padding: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  height: 48px;
  width: 100%;
  background-color: #f5f5f7;
}
.ul {
  display: flex;
  list-style: none;
  gap: 24px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.shi3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .ul li {
    display: none;
  }
  .button {
    display: block;
  }
  .ul img {
    display: inline;
    justify-content: space-between;
  }
}
/* .nav2 {
  font-size: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  gap: 5px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  height: 73px;
  text-align: center;
} */
.button {
  display: none;
}
