* {
  margin: 0 auto;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 1920px;
  margin: 0 auto;
}
.ul {
  display: flex;
  list-style: none;
  gap: 24px;
  align-items: center;
  justify-content: center;
  width: 1920px;
  margin: 0 auto;
}
.nav2 {
  font-size: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  gap: 5px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 1920px;
  margin: 0 auto;
}
.or16pro {
  background-image: url(16or.png);
  width: 1920px;
  height: 692px;
  opacity: 1;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  gap: 20px;
  padding-top: 55px;
}
.time {
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.le {
  background-color: #0071e3;
  color: white;
  border-radius: 999px;
  width: 123px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy {
  /* background-color: #0071e3; */
  color: #2997ff;
  border-radius: 999px;
  width: 123px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2997ff;
}
.bl16 {
  background-image: url(Figure.png);
  width: 1920px;
  height: 692px;
  opacity: 1;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  background-size: cover;
  margin-top: 12px;
  margin-bottom: 12px;
  gap: 20px;
  padding-top: 55px;
}
.le2 {
  background-color: white;
  color: black;
  border-radius: 999px;
  width: 123px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy2 {
  /* background-color: white; */
  color: white;
  border-radius: 999px;
  width: 123px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}
.app {
  background-image: url(Applelog.png);
  width: 1920px;
  height: 692px;
  opacity: 1;
  margin: 0 auto;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  text-align: center;
  background-size: cover;
  margin-top: 12px;
  margin-bottom: 12px;
  gap: 12px;
  padding-bottom: 82px;
  background-position: center;
}
.shop {
  background-color: #0071e3;
  color: white;
  border-radius: 999px;
  width: 123px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ipad {
  background-image: url(ipad.png);
  background-position: center;
  width: 942px;
  height: 580px;
  opacity: 1;
  margin: 0 auto;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  background-size: cover;
  margin: 12px;
  padding-top: 58px;
  gap: 12px;
}
.hel {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  background: linear-gradient(
    90.43deg,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  width: auto; /* Let text width adjust naturally */
  justify-content: center;
  align-items: flex-end;
  height: 334px;
}
.airpod {
  background-image: url(headphone.png);
  background-position: center;
  width: 942px;
  height: 580px;
  opacity: 1;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  background-size: cover;
  margin: 12px;
  padding-bottom: 58px;
  gap: 12px;
}
.shi {
  display: flex;
  gap: 12px;
  width: 100%;
}
.shi2 {
  display: flex;
  gap: 12px;
  width: 100%;
}
.watch {
  background-image: url(watch.png);
  background-position: center;
  width: 942px;
  height: 580px;
  opacity: 1;
  margin: 0 auto;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-size: cover;
  margin: 12px;
  padding-top: 70px;
  gap: 12px;
}
.bookair {
  background-image: url(bookair.png);
  background-position: center;
  width: 942px;
  height: 580px;
  opacity: 1;
  margin: 0 auto;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-size: cover;
  margin: 12px;
  padding-top: 48px;
  gap: 12px;
}
.iphone {
  background-image: url(iphone.png);
  background-position: center;
  width: 942px;
  height: 580px;
  opacity: 1;
  margin: 0 auto;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-size: cover;
  margin: 12px;
  padding-top: 48px;
  gap: 12px;
}
.ge {
  background-color: #0071e3;
  color: white;
  border-radius: 999px;
  width: 167px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-image: url(card.png);
  background-position: center;
  width: 942px;
  height: 580px;
  opacity: 1;
  margin: 0 auto;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-size: cover;
  margin: 12px;
  padding-top: 48px;
  gap: 12px;
}
