* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f5f5f7;
}

/* ----- NAVIGATION BAR ----- */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f7;
  height: 48px;
  padding: 0 16px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  cursor: pointer;
  width: 48px;
}

.ul {
  list-style: none;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.ul a {
  list-style: none;
  font-size: 12px;
  cursor: pointer;
  color: #000;
  font-weight: 400;
}
.ul li {
  font-size: 12px;
  cursor: pointer;
  color: #000;
  font-weight: 400;
}

.icons {
  display: flex;
  align-items: center;
  gap: 0;
}

.icon {
  width: 48px;
  cursor: pointer;
}
.nav2 {
  background-color: #fff;
  text-align: center;
  padding: 16px 8px;
  font-size: 14px;
  color: #333;
  margin-top: 48px;
  font-weight: 500;
}
.beg {
  font-weight: 700;
  font-size: 44px;
  color: #6e6e73;
  width: 1920px;
  height: 100px;
  display: flex;
  gap: 32px;
  padding-left: 140px;
}
.hel {
  font-weight: 700;
  font-size: 44px;
  background: linear-gradient(
    90.43deg,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
}
.shits {
  width: 1920px;
  height: 146px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding-left: 146px;
}
.shi1 {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 136px;
  height: 146px;
}
.beg2 {
  font-weight: 700;
  font-size: 24px;
  color: #6e6e73;
  width: 1920px;
  height: 100px;
  display: flex;
  gap: 4px;
  padding-left: 140px;
}
.hel2 {
  font-weight: 700;
  font-size: 24px;
  background: linear-gradient(
    90.43deg,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
}
.iphone {
  background-image: url(iphone.jpg);
  border-radius: 18px;
  width: 480px;
  height: 500px;
  background-position: center;
  margin-left: 140px;
  background-size: cover;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.watch {
  background-image: url(applewatch.jpg);
  border-radius: 18px;
  width: 480px;
  height: 500px;
  background-position: center;
  margin-left: 140px;
  background-size: cover;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.ipad {
  background-image: url(ipad.jpg);
  border-radius: 18px;
  width: 480px;
  height: 500px;
  background-position: center;
  margin-left: 140px;
  background-size: cover;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.laptop {
  background-image: url(laptop.jpg);
  border-radius: 18px;
  width: 480px;
  height: 500px;
  background-position: center;
  margin-left: 140px;
  background-size: cover;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.airpod {
  background-image: url(airpod.jpg);
  width: 400px;
  height: 500px;
  font-size: 26px;
  margin-left: 140px;
  background-position: center;
  background-size: cover;
  padding-top: 53px;
  padding-left: 30px;
  border-radius: 18px;
}
.shit {
  background-color: white;
  width: 313px;
  height: 500px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.text {
  /* padding-bottom: 32px; */
  padding-left: 28px;
  display: flex;
  flex-direction: column;
  gap: 92px;
  margin-right: auto;
}
.color {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 253px;
  height: 58px;
}
.bullet {
  width: 8px;
  height: 8px;
  opacity: 0.75;
  margin-inline: 7px;
  border-radius: 50%;
  background-color: #262424;
}
.bullet2 {
  width: 8px;
  height: 8px;
  opacity: 0.75;
  margin-inline: 7px;
  border-radius: 50%;
  background-color: #dae3da;
}
.bullet3 {
  width: 8px;
  height: 8px;
  opacity: 0.75;
  margin-inline: 7px;
  border-radius: 50%;
  background-color: black;
}
.bullet4 {
  width: 8px;
  height: 8px;
  opacity: 0.75;
  margin-inline: 7px;
  border-radius: 50%;
  background-color: #dae3da;
}
.bullet5 {
  width: 8px;
  height: 8px;
  opacity: 0.75;
  margin-inline: 7px;
  border-radius: 50%;
  background-color: orange;
}
.text2 {
  /* padding-bottom: 32px; */
  padding-left: 28px;
  display: flex;
  flex-direction: column;
  gap: 92px;
  margin-right: auto;
  padding-top: 58px;
}
.item {
  background-image: url(items.jpg);
  width: 400px;
  height: 500px;
  font-size: 26px;
  margin-left: 140px;
  background-position: center;
  background-size: cover;
  padding-top: 53px;
  padding-left: 30px;
  border-radius: 18px;
}
.apple-store {
  background-image: url(Apple\ store.jpg);
  width: 480px;
  height: 500px;
  margin-left: 140px;
  background-position: center;
  background-size: cover;
  padding-top: 53px;
  padding-left: 30px;
  border-radius: 18px;
  font-size: 26px;
}
.things {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.thing {
  width: 313px;
  height: 240px;
  border-radius: 18px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 22px;
}
.trade {
  background-image: url(trade.jpg);
  width: 480px;
  height: 500px;
  background-position: center;
  background-size: cover;
  padding-top: 53px;
  padding-left: 30px;
  border-radius: 18px;
  font-size: 26px;
}
.item1,
.item2,
.item3,
.item4 {
  width: 480px;
  height: 500px;
  background-position: center;
  background-size: cover;
  padding-top: 53px;
  padding-left: 30px;
  border-radius: 18px;
  font-size: 26px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-right: auto;
}
.item1 {
  background-image: url(itenm1.jpg);
  margin-left: 140px;
}
.item2 {
  background-image: url(item2.png);
}
.item3 {
  background-image: url(item3.jpg);
}
.item4 {
  background-image: url(item4.jpg);
}
.item5,
.item6,
.item7,
.item8 {
  width: 400px;
  height: 500px;
  font-size: 26px;
  background-position: center;
  background-size: cover;
  padding-top: 53px;
  padding-left: 30px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.item5 {
  background-image: url(Item5.jpg);
  margin-left: 140px;
}
.item6 {
  background-image: url(Item6.jpg);
}
.item7 {
  background-image: url(Item7.jpg);
}
.item8 {
  background-image: url(Item8.jpg);
}
.end1 {
  width: 125px;
  border: 1px solid black;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
}
.end2 {
  width: 137px;
  border: 1px solid black;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
}
.end3 {
  width: 91px;
  border: 1px solid black;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
}
.end4 {
  width: 114px;
  border: 1px solid black;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
}
