* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #fff;
}

/* ----- NAVIGATION BAR ----- */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f7;
  height: 48px;
  padding: 0 16px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  cursor: pointer;
  width: 48px;
}

.ul {
  list-style: none;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.ul a {
  list-style: none;
  font-size: 12px;
  cursor: pointer;
  color: #000;
  font-weight: 400;
}
.ul li {
  font-size: 12px;
  cursor: pointer;
  color: #000;
  font-weight: 400;
}

.icons {
  display: flex;
  align-items: center;
  gap: 0;
}

.icon {
  width: 48px;
  cursor: pointer;
}
.nav2 {
  background-color: #fff;
  text-align: center;
  padding: 16px 8px;
  font-size: 14px;
  color: #333;
  margin-top: 48px;
  font-weight: 500;
}
.beg {
  font-weight: 700;
  font-size: 44px;
  color: #6e6e73;
  width: 1920px;
  height: 100px;
  display: flex;
  gap: 32px;
  padding-left: 140px;
}
.hel {
  font-weight: 700;
  font-size: 44px;
  background: linear-gradient(
    90.43deg,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
}
.shits {
  width: 1920px;
  height: 146px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding-left: 146px;
}
.shi1 {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 136px;
  height: 146px;
}
.beg2 {
  font-weight: 700;
  font-size: 24px;
  color: #6e6e73;
  width: 1920px;
  height: 100px;
  display: flex;
  gap: 4px;
  padding-left: 140px;
}
.hel2 {
  font-weight: 700;
  font-size: 24px;
  background: linear-gradient(
    90.43deg,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
}
.iphone {
  background-image: url(iphone.jpg);
  border-radius: 18px;
  width: 480px;
  height: 500px;
  background-position: center;
}
